<% if (page.comments){ %>

<!-- wumii Button BEGIN -->
<div style="margin:0px auto; padding-left:23px; text-align:center;">
	<%
		var tags = [];
		if (item.tags && item.tags.length > 0){ 
			item.tags.forEach(function(tag) { tags.push(tag.name); });
		}
	%>
	<%
		var cats = [];
		if (item.categories && item.categories.length > 0){
			item.categories.forEach(function(cat){ cats.push('"'+ cat.name + '"'); });
		}
	%>

	<script type="text/javascript" id="wumiiRelatedItems"></script>
	<script type="text/javascript">
	    var wumiiPermaLink = "http://ibruce.info/<%- item.path %>"; //请用代码生成文章永久的链接
	    var wumiiTitle = "<%- item.title %>"; //请用代码生成文章标题
	    var wumiiTags = "<%- tags.join(', ') %>"; //请用代码生成文章标签，以英文逗号分隔，如："标签1,标签2"
	    var wumiiCategories = [<%- cats.join(', ') %>]; //请用代码生成文章分类，分类名放在 JSONArray 中，如: ["分类1", "分类2"]
	    var wumiiSitePrefix = "http://ibruce.info/";
	    var wumiiParams = "&num=5&mode=3&pf=JAVASCRIPT";
	</script>
	<script type="text/javascript" src="http://widget.wumii.cn/ext/relatedItemsWidget"></script>
	<!--
	<a href="http://www.wumii.com/widget/relatedItems" style="border:0;">
	    <img src="http://static.wumii.cn/images/pixel.png" alt="无觅关联推荐，快速提升流量" style="border:0;padding:0;margin:0;" />
	</a>
	-->
</div>
<!-- wumii Button END -->

<!-- UJian Button BEGIN -->
	<div class="ujian-hook" style="padding-left: 17px;"></div>
	<script type="text/javascript">var ujian_config = {num:6,picSize:83,textHeight:45};</script>
	<script type="text/javascript" src="http://v1.ujian.cc/code/ujian.js?uid=1893018"></script>
<!-- UJian Button END -->

<!-- baidu tuijian BEGIN -->
<!-- <div id="hm_t_22763"></div> -->
<!-- baidu tuijian BEGIN -->
<!--	<div style="padding-left: 17px;"> -->
<!--		<script src="http://wm.lrswl.com/page/s.php?s=103186&w=640&h=60"></script> -->
<!--	</div> -->

<% } %>